<?xml version="1.0"?>
<launch>
    <arg name="use_filebag" default="false"/>

    <node pkg="marvelmind_nav" type="hedge_rcv_bin" name="marvelmind_nav"/>

    <!-- hedge msg adapter -->
    <node pkg="rovid_1" type="hedge_msg_adapter" name="hedge_msg_adapter" clear_params="true">
        <rosparam command="load" file="$(find rovid_1)/params/EKF/covariances.yaml" />
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization_map" clear_params="true">
        <rosparam file="$(find rovid_1)/params/EKF/robot_localization_map.yaml" command="load"/>
    </node>

    <!-- <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization_marvel" clear_params="true">
        <rosparam file="$(find rovid_1)/params/EKF/robot_localization_marvel.yaml" command="load"/>
    </node> -->
</launch>