<?xml version="1.0"?>
<launch>
    <include file="$(find rovid_1)/launch/nav_init.launch" />
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <rosparam file="$(find rovid_1)/params/SLAM/gmapping.yaml" command="load"/>
    </node>
    <include file="$(find rovid_1)/launch/visualization_slam.launch" />
</launch>