<?xml version="1.0"?>
<launch>
    <arg name="robot_model" default="$(find rovid_1)/urdf/robot_covid.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg robot_model)"/>
    <!-- Parameter gak bisa di dalem tag nodenya. -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

    <!-- Marvelmind beacon tf -->
    <node pkg="tf" type="static_transform_publisher" name="beacon_imu_broadcaster" args="0 0 0 0 0 0 base_link beacon_imu_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="beacon_map_broadcaster" args="0 0 0 0 0 0 beacon_map map 100" />
</launch>